<%title "Blog Details: #{@blog.name}"%>
<%content_for :blog_head do %>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="<%=rsd_blog_url @blog, :format=>'xml' %>" />
<%end%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blog.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @blog.slug %>
</p>

<p>
  <b>Hostname:</b>
  <%= @blog.site.hostname %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>

<%= link_to 'New Post', new_post_url(:host => @blog.site.hostname) %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
