<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_area :story %>
  </div>
  
  <div class="field">
    <%= f.label :categories %><br />
    <%= f.text_field :category_list %>
    <div class="categories help">Separate by ;</div>
  </div>

  <%=f.fields_for :post_images do |builder| %>
  <%unless builder.object.nil?  %>
    <%if builder.object.new_record?%>
      <div class="fileupload field">
        <%=builder.label :caption, "Image Caption" %>
        <%=builder.text_field :caption %>
        <%=builder.label :photo, "File" %>
        <%=builder.file_field :photo %>
      </div>
    <%else%>
    <a href="<%=builder.object.photo.url%>"><%=image_tag builder.object.photo.url(:thumb), :title=>builder.object.caption%></a>

    <% end %>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :publish_on %><br />
    <%= f.datetime_select :publish_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
