<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Story:</b>
  <%= @post.story %>
</p>

<p>
  <b>Publish on:</b>
  <%= @post.publish_on %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@blog,@post) %> |
<%= link_to 'Back', blog_posts_path(@blog) %>
