<%title "Editing post: #{@post.title}"%>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Story:</b>
  <%= @post.story.html_safe %>
</p>

<p>
  <b>Publish on:</b>
  <%= @post.publish_on %>
</p>


<p>
 <b>In</b>
  <%@post.category_list.each  do |c|%>
    <%=c%>
    <%end%>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path(@blog) %>
